# Configuration Web3 pour Chiliz mainnet
NEXT_PUBLIC_ARTIST_CONTRACT_ADDRESS=0x7700834a9d3d775AF9553d81f010E9e09bd727f0 #Adresse du contrat Artist.sol déployé
NEXT_PUBLIC_ARTIST_TOKEN_ADDRESS=0xc66dcf0c6F3DF92Ff86af36ccc89f45694273792 # Adresse du token ERC20 (CAP20)

# Configuration Privy (optionnel si déjà configuré)
NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id